@font-face {
    font-family: TrashHand;
    src: url(TrashHand.ttf);
}

.navbar-light .navbar-toggler {
    margin-right: 15px;
}

@media screen and (max-width:992px) {
    .d-desktop {
        display: none!important;
    }
}

@media screen and (max-width:520px) {
    .mobill {
        display: none!important;
    }
}

@media screen and (min-width:992px) {
    .mobill {
        display: none!important;
    }
}

.mobill .co-icon {
    color: #276972!important;
}

.view {
    background: url("../images/home-1.png")no-repeat center center;
    background-size: cover;
}

.res {
    background: url("../images/home-2.png")no-repeat center center;
    background-size: cover;
}

.est {
    background: url("../images/home-3.png")no-repeat center center;
    background-size: cover;
}

.view-1 {
    background: url("../images/footer.png")no-repeat center center;
    background-size: cover;
    background-position: top;
}

.view-3 {
    background: url("../images/reserva-cta.png")no-repeat center center;
    background-size: cover;
}

.footer-copy {
    background: #276972;
    color: white;
}

@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: 0px;
    }
}

.navbar {
    z-index: 1;
}

.bg-float {
    background-color: #276972!important;
    height: 61px;
}

html,
body,
header,
.view,
.res {
    height: 100%;
}

.th {
    font-family: TrashHand !important;
}

;
.text-icons {
    font-size: .8rem !important;
}

;
.text-h {
    font-size: 3rem !important;
}

.pad-20 {
    padding-top: 10rem;
}

.parallax {
    /* The image used */
    background-image: url("../images/parallax-1.png");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1 {
    /* The image used */
    background-image: url("../images/reserva-cta.png");
    /* Set a specific height */
    min-height: 827px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.caja-color {
    -webkit-box-shadow: 14px -5px 0px 5px rgba(250, 238, 0, 1);
    -moz-box-shadow: 14px -5px 0px 5px rgba(250, 238, 0, 1);
    box-shadow: 14px -5px 0px 5px rgba(250, 238, 0, 1);
}

.caja-color-r {
    -webkit-box-shadow: -15px -5px 0px 5px rgba(250, 238, 0, 1);
    -moz-box-shadow: -15px -5px 0px 5px rgba(250, 238, 0, 1);
    box-shadow: -15px -5px 0px 5px rgba(250, 238, 0, 1);
}

.center-title {
    margin-top: 15rem;
    font-size: 10rem;
    text-shadow: 2px 0 0 #005707, -2px 0 0 #005707, 0 2px 0 #005707, 0 -2px 0 #005707, 1px 1px #005707, -1px -1px 0 #005707, 1px -1px 0 #005707, -1px 1px 0 #005707;
}

.text-shadow {
    text-shadow: 1px 0 0 #005707, -1px 0 0 #005707, 0 1px 0 #005707, 0 -1px 0 #005707, 1px 1px #005707, -1px -1px 0 #005707, 1px -1px 0 #005707, -1px 1px 0 #005707;
}

.center-float {
    margin-top: 10rem;
}

.color-float {
    color: #286C11;
}

.color-second {
    color: #FFD800;
}

.icon-social {
    color: #46A297;
}

.italic {
    font-style: italic;
}

.btn-float {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #286C11;
    border-color: #286C11;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .center-title {
        font-size: 5rem;
    }
}

@media screen and (max-width: 768px) {
    .center-title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .text-footer {
        font-size: .8rem !important;
    }
    .fa-2x {
        font-size: 1em;
    }
    .box-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .texto-high {
        font-size: 1.5rem;
    }
    .display-2 {
        font-size: 3.5rem;
    }
}